<div class="jumbotron">
    <h1>EagleEye</h1>
    <p class="lead">We're watching what you spend your money on whether you like it or not...</p>
    <p><a href="https://www.google.com/search?q=eagle+eye&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjgufWkhPDZAhVHJKwKHT-YC6UQ_AUICigB&biw=1600&bih=769" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>Click on that API button up there in the navigation bar to take a peek at all the API stuff. </p>
    </div>
    <div class="col-md-4">
        <h2>A Prime Example</h2>
        <p>If you follow these models, it will be easy to add some stuff for notifications...</p>
    </div>
    <div class="col-md-4">
        <h2>More Information</h2>
        <p>Get at me on Slack if you have any questions regarding this API......B)</p>
    </div>
</div>
